body {
  margin: 0;
}

.logo {
  position: fixed;
  top: 30px;
  left: 260px;
  width: 220px;
  height: 27px;
  background-image: url("https://cdn.freebiesupply.com/logos/large/2x/spacex-logo-black-and-white.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  z-index: 1;
}
.nav {
  position: fixed;
  top: 39px;
  left: 480px;

  display: flex;
  flex-wrap: wrap;

  font-family: "Oswald", sans-serif;
}
a {
  padding-left: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.background-first {
  width: 100%;
  height: 1007px;
  background-image: url("./Images/DESKTOP_CRS24_homepage\ \(3\).webp");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.background-second {
  width: 100%;
  height: 1007px;
  background-image: url("./Images/Homepage_Starlink_4-4_DESKTOP.webp");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.background-third {
  width: 100%;
  height: 1007px;
  background-image: url("./Images/DESKTOP_IXPE_post-launch_homepage\ \(1\).webp");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.background-fourth {
  width: 100%;
  height: 1007px;
  background-image: url("./Images/DART_MAINPAGE_DESKTOP.webp");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.background-fifth {
  width: 100%;
  height: 1007px;
  background-image: url("./Images/hls-resized-2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
